<div class="animated fadeIn">
  <!--<app-alert></app-alert>-->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>应用列表
          <button class="btn btn-success btn-sm pull-right" (click)="openEditModal()">添加</button>
        </div>
        <div class="card-body">
          <!--<app-tree></app-tree>-->
          <table class="table">
            <thead>
            <tr>
              <th>id</th>
              <th>名称</th>
              <th>密钥</th>
              <th>url</th>
              <th>描述</th>
              <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let application of applications">
              <td>{{application.id}}</td>
              <td>{{application.name}}</td>
              <td>{{application.secret}}</td>
              <td>{{application.url}}</td>
              <td>{{application.description}}</td>
              <td>
                <button class="btn btn-warning btn-sm" (click)="openEditModal(application)">编辑</button>
                <button class="btn btn-primary btn-sm" (click)="openManagePermissionWindow(application)">权限</button>
                <button class="btn btn-danger btn-sm" (click)="delete(application.id)">删除</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>
